<div class="banner-right">
  <div class="row1">
    <div class="Temperature"> Temperature:
      <span id="Temperature"> {{tpwInfo.temparature}}Hg</span>
    </div>
    <div class="Pressure"> Pressure:
      <span id="Pressure"> {{tpwInfo.pressure}}%</span>
    </div>
    <div class="wind"> Wind:
      <span id="wind"> {{tpwInfo.windSpeed}}%</span>
    </div>
  </div>
  <div class="row2">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Temperature</button>
      <button type="button" class="btn btn-primary">Pressure</button>
      <button type="button" class="btn btn-primary">Wind</button>
    </div>
  </div>
</div>